{% extends 'layout/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block title %}DjiLogReader - {% trans 'Password reset confirmation' %}{% endblock %}

{% block bootstrap4_content %}
  <section>
    <div class="container">
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissable alert-link" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="{% trans 'close' %}">&#215;</button>
        <small>{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</small>
      </div>
      {% endif %}
      <div class="card-body">
        <h1 class="h2">{% trans 'Password reset confirmation' %}</h1>
      </div>
      <div class="card-body">
        {% if validlink %}
        <p class="text-small">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="post" class="form-horizontal form-validate">
          {% csrf_token %}
          <div class="form-group row">
            <label for="{{ form.new_password1.id_for_label }}" class="col-sm-4 form-control-label">{% trans 'New password:' %}</label>
            <div class="col-sm-8">
              <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" autocomplete="new-password" required data-msg="Пожалуйста, введите новый пароль" placeholder="Новый пароль" class="form-control form-control-success">
              <small class="form-text">{{ form.new_password1.help_text }}</small>
              {% for text in form.new_password1.errors %}
                <small class="form-text text-danger">{{ text }}</small>
              {% endfor %}<!-- show error new password validation -->
            </div>
          </div><!-- new password1 -->
          <div class="form-group row">
            <label for="{{ form.new_password2.id_for_label }}" class="col-sm-4 form-control-label">{% trans 'Confirm password:' %}</label>
            <div class="col-sm-8">
              <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" autocomplete="new-password" required data-msg="Пожалуйста, подтвердите новый пароль" placeholder="Подтверждение нового пароля" class="form-control form-control-success">
              <small class="form-text">{{ form.new_password2.help_text }}</small>
              {% for text in form.new_password2.errors %}
                <small class="form-text text-danger">{{ text }}</small>
              {% endfor %}<!-- show error new password validation -->
            </div>
          </div><!-- new password2 -->
          <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
              <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
            </div>
          </div>
        </form>
        {% else %}
        <p class="text-small text-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>st647zn &copy; 2012-2019</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}