{% extends 'layout/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block title %}DjiLogReader - Смена пароля{% endblock %}

{% block h2 %}Смена пароля{% endblock %}

{% block content %}
  <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'core:index' user.username %}">Главная</a></li>
      <li class="breadcrumb-item active">Настройки</li>
      <li class="breadcrumb-item active">Смена пароля</li>
    </ul>
  </div>
  <section class="forms">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          {% if form.errors %}
            <div class="alert alert-danger alert-dismissable alert-link" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="{% trans 'close' %}">&#215;</button>
            <small>{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</small>
            </div>
            {% endif %}
          <div class="card">
            <div class="card-body">
              <form action="{% url 'password_change' %}" role="form" method="post" class="form-horizontal form-validate">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="text-small text-muted">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</div>
                    <hr>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="{{ form.old_password.id_for_label }}" class="col-sm-4 form-control-label">{{ form.old_password.label }}</label>
                  <div class="col-sm-8">
                    <input type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.id_for_label }}" autofocus required data-msg="Пожалуйста, введите текущий пароль" placeholder="Старый пароль" class="form-control form-control-success">
                    <small class="form-text">{{ form.old_password.help_text }}</small>
                    {% for text in form.old_password.errors %}
                      <small class="form-text text-danger">{{ text }}</small>
                    {% endfor %}<!-- show error old password validation -->
                  </div>
                </div><!-- old password -->
                <div class="form-group row">
                  <label for="{{ form.new_password1.id_for_label }}" class="col-sm-4 form-control-label">{{ form.new_password1.label }}</label>
                  <div class="col-sm-8">
                    <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" autofocus required data-msg="Пожалуйста, введите новый пароль" placeholder="Новый пароль" class="form-control form-control-success">
                    <small class="form-text">{{ form.new_password1.help_text }}</small>
                    {% for text in form.new_password1.errors %}
                      <small class="form-text text-danger">{{ text }}</small>
                    {% endfor %}<!-- show error new password validation -->
                  </div>
                </div><!-- new password1 -->
                <div class="form-group row">
                  <label for="{{ form.new_password2.id_for_label }}" class="col-sm-4 form-control-label">{{ form.new_password2.label }}</label>
                  <div class="col-sm-8">
                    <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" autofocus required data-msg="Пожалуйста, подтвердите новый пароль" placeholder="Подтверждение нового пароля" class="form-control form-control-success">
                    <small class="form-text">{{ form.new_password2.help_text }}</small>
                    {% for text in form.new_password2.errors %}
                      <small class="form-text text-danger">{{ text }}</small>
                    {% endfor %}<!-- show error new password validation -->
                  </div>
                </div><!-- new password2 -->
                <div class="form-group row">
                  <div class="col-sm-8 offset-sm-4">
                    <input type="submit" value="Сменить пароль" class="btn btn-primary">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
