{% extends 'layout/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block title %}DjiLogReader - Восстановление пароля{% endblock %}

{% block bootstrap4_content %}
  <section>
    <div class="container">
      <div class="card-body">
        <h1 class="h2">Восстановление пароля</h1>
      </div>
      <div class="card-body">
        <p class="text-small">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
        <p class="text-small">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>st647zn &copy; 2012-2019</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}