{% extends 'layout/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block title %}DjiLogReader - {% trans 'Password reset' %}{% endblock %}

{% block bootstrap4_content %}
  <section>
    <div class="container">
      <div class="card-body">
        <h1 class="h2">{{ title }}</h1>
      </div>
      <div class="card-body">
        <p class="text-small">Ваш новый пароль был сохранен. Теперь вы снова можете <a href="{{ login_url }}">войти на сайт</a></p>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>st647zn &copy; 2012-2019</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}