{% extends 'layout/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block title %}DjiLogReader - Восстановление пароля{% endblock %}

{% block bootstrap4_content %}
  <section>
    <div class="container">
      <div class="card-body">
        <h1 class="h2">Восстановление пароля</h1>
      </div>
      <div class="card-body">
        <p class="text-small">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="post" class="form-horizontal form-validate">
          {% csrf_token %}
          <div class="form-group row">
            <label for="{{ form.email.id_for_label }}" class="col-sm-4 form-control-label">{% trans 'Email address:' %}</label>
            <div class="col-sm-8">
              <input type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" autofocus required data-msg="Пожалуйста, введите ваш e-mail" placeholder="email@example.com" class="form-control form-control-success">
              <small class="form-text">{{ form.email.help_text }}</small>
              {% for text in form.email.errors %}
                <small class="form-text text-danger">{{ text }}</small>
              {% endfor %}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
              <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>st647zn &copy; 2012-2019</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}